.blockStyle {
  height: 80;
  width: 80;
  margin: 3;
  display: "flex";
  justify-content: "center";
  align-items: "center";
  font-size: 45;
  font-weight: "800";
  color: "white";
}

.newGameButton {
  padding: 10;
  background: "#846F5B";
  color: "#F8F5F0";
  width: 95;
  border-radius: 7;
  font-weight: "900";
  margin-left: "auto";
  margin-bottom: "auto";
  cursor: "pointer";
}

.tryAgainButton {
  padding: 10;
  background: "#846F5B";
  color: "#F8F5F0";
  width: 80;
  border-radius: 7;
  font-weight: "900";
  cursor: "pointer";
  margin: "auto";
  margin-top: 20;
}

.gameOverOverlay {
  position: "absolute";
  height: "100%";
  width: "100%";
  left: 0;
  top: 0;
  border-radius: 5;
  background: "rgba(238,228,218,.5)";
  display: "flex";
  justify-content: "center";
  align-items: "center";
}
